<?xml version="1.0" ?>
<web-app>
	<display-name>VL Calendar Manager</display-name>
	<description>VL Calendar Manager</description>
	<servlet>
		<servlet-name>VL Calendar Manager Users</servlet-name>
		<servlet-class>UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VL Calendar Manager Users</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
</web-app>
